@use "sass:color";
$primary-color: #3498db;
$secondary-color: #2ecc71;

// Также определим CSS-переменные (на будущее)
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
}


// Reset и базовые стили
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Arial', sans-serif;
    background-color: #35ae4bbe;
    color: #333;
    line-height: 1.6;  
}