@use 'sass:color';
@use 'base' as *; // Подключаем _base.scss и делаем его переменные глобальными
/* Buttons, cards, modals etc. */

.card {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

//секция превью
.preview-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#preview-сontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
