/* Styles for the photo gallery grid */

@use 'base' as *; // Подключаем _base.scss и делаем его переменные глобальными


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  transition: transform 0.3s ease;
}